<style>
    .container {
        top: 200px;
        position: relative;
        border: 1px solid #999;
        border-radius: 5px;
        background: #efefef;
        width: 500px;
        padding: 40px 20px;
    }
</style>
<div class="container">
    <form class="form-horizontal" rolw="form" name="login_form">
        <div class="row">
            <pho-fc type="email"
                    cols="12"
                    model="user.email"
                    name="email"
                    value="admin@admin.com"
                    placeholder="email"
                    required></pho-fc>
        </div>
        <div class="row">
            <pho-fc type="password"
                    cols="12"
                    model="user.password"
                    value="admin"
                    name="passwrod"
                    placeholder="password"
                    required></pho-fc>
        </div>
        <div class="form-btns" style="position:relative;top:20px;">
            <button type="button" class="btn btn-md btn-success"
                    ng-disabled="login_form.$invalid"
                    ng-click="login()">login
            </button>
            <button type="button" class="btn btn-md btn-info" ng-click="regist()">or regist</button>
        </div>
    </form>
</div>