<div class="container">
	<h1>evaluate-main.html</h1>
	<div class="ex-box bordered">
	<h3>evaluate list</h3>
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>年级</th>
					<th>班号</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in classList track by $index">
					<td>{{$index +1}}</td>
					<td>{{class.grade}}年级</td>
					<td>{{class.class}}班</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="ex-box bordered">
		<h3>add evaluate</h3>
		<form class="form-horizontal" rolw="form" name="add_evaluate">
			<pho-fc type="dropdown" 
				data-options="teacher.id as teacher.name for teacher in teacherList"
				cols="6" model="evaluate.teacher" name="teacher" rquired></pho-fc>
				<pho-fc type="textatea" cols="12" model="evaluate.evaluate" data-min-length="3"></pho-fc>
			<div class="form-btns">
				<button type="button" class="btn btn-sm btn-success" 
			ng-disabled="add_class.$invalid"
			ng-click="addClassSubmit()">add evaluate</button>
			</div>
		</form>
	</div>

</div>