<!--tree-->
<h3 class="page-header" id="introduction">概述</h3>
<p>介绍树的使用方法</p>
<h3 class="page-header" id="index">文档目录</h3>
<ex-index show="0 1 2 3 4 5 6"></ex-index>
<h3 class="page-header" id="demo">实例</h3>
<div class="ex-box">

    <div class="col-xs-12" id="demo_tree"></div>
    <pho-tree-n data-data="catalog" data-id="pho_tree"></pho-tree-n>
</div>

<h3 class="page-header" id="usage">使用方法</h3>
<pre>
    <code>

    </code>
</pre>

<h3 class="page-header" id="usage">参数说明</h3>

<h3 class="page-header" id="usage">API 接口</h3>

<h3 class="page-header" id="usage">相关信息</h3>

