<h1>Teacher-main</h1>
<div class="ex-box bordered">
    <h3>Teacher list</h3>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>性别</th>
            <th>学号</th>
            <th>班级</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in theachaerList track by $index">
            <td>{{$index +1}}</td>
            <td>{{t.username}}</td>
            <td>{{t.gender}}</td>
            <td>{{t.number}}</td>
            <td>{{t.class}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!--add student-->
<div class="ex-box bordered bg-success mt10">
    <h3>Add teacher</h3>

    <form class="form-horizontal" rolw="form" name="add_student">
        <pho-fc type="text" cols="6" model="student.name" name="姓名" placeholder="姓名" required></pho-fc>
        <pho-fc type="dropdown"
                cols="6"
                model="student.gender"
                data-options="opt.key as opt.value for opt in genderList"
                name="性别"
                placeholder="性别"
                required></pho-fc>
        <pho-fc type="number" cols="6" model="student.number" name="学号" placeholder="学号" required></pho-fc>
        <pho-fc type="dropdown"
                data-options="class.id as (class.grade + '年级' + class.class + '班') for class in classList"
                cols="6"
                model="student.class"
                name="班级"
                required></pho-fc>
        <div class="form-btns">
            <button type="button" class="btn btn-sm btn-success"
                    ng-show="teacher.add_teacher"
                    ng-disabled="add_student.$invalid"
                    ng-click="addTeacher()">add teacher
            </button>
            <button type="button" class="btn btn-sm btn-info" ng-show="teacher.edit_teacher">edit teacher</button>
        </div>
    </form>
</div>
